@charset "UTF-8";
/* Colores */
/* Ancho de Pagina */
/* Colores */
/* Ancho de Pagina */
.header-bsz {
  font-family: saenz-font;
  background-color: white;
  max-width: 100%;
}
.header-bsz a {
  font-family: saenz-font;
  text-decoration: none;
}

.dropdown-menu-bsz {
  color: #898d8d;
}

/* Colores */
/* Ancho de Pagina */
.footer {
  background-color: #002f6c;
  max-width: 100%;
  font-family: saenz-font;
  color: white;
  text-decoration: none;
  padding: 15px 0;
}

/* Colores */
/* Ancho de Pagina */
.button-bsz {
  font-family: saenz-font;
  color: white;
  text-decoration: none;
  background-color: #00a3e0;
  border-color: #00a3e0;
}
.button-bsz a {
  color: white;
}
.button-bsz a:hover {
  font-family: saenz-font;
  color: white;
  text-decoration: none;
  background-color: #898d8d;
  border-color: #898d8d;
}

/* Colores */
/* Ancho de Pagina */
.contacto {
  font-family: saenz-font;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}
.contacto div {
  width: 75%;
  max-width: 100%;
  padding: 10px;
}

form {
  color: black;
  font-family: saenz-font;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacto-form {
  border-radius: 3px;
  width: 100%;
  max-width: 100%;
  margin: 0 0 0 0;
  padding: 0px;
}

.form-row {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.form-row input[type=text],
.form-row select[name=tramite],
.form-row input[type=email] {
  background-color: #FFF;
  border: 1px solid #9ea2a2;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 5px;
}

.form-row textarea {
  font-size: 14px;
  font-family: saenz-font;
  border: 1px solid #898d8d;
  border: 1px solid #9ea2a2;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 0px;
  min-height: 200px;
  min-width: 100%;
  resize: none;
}

.form-row .instructions {
  color: #999;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #00a3e0;
  border: none;
  border-radius: 3px;
  padding: 10px 40px;
  cursor: pointer;
}
.form-row button:hover {
  background-color: #9ea2a2;
}
.form-row button:active {
  background-color: #00a3e0;
}

/* Colores */
/* Ancho de Pagina */
.nosotros-portada {
  height: 150px;
  width: 100%;
  max-width: 100%;
}
.nosotros-portada img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.nosotros {
  font-family: saenz-font;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  row-gap: 10px;
  column-gap: 10px;
}

/* Colores */
/* Ancho de Pagina */
.cuentas-portada {
  height: 150px;
  width: 100%;
  max-width: 100%;
}
.cuentas-portada img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cuentas {
  font-family: saenz-font;
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
}
.cuentas div {
  width: 50%;
  max-width: 100%;
  padding: 10px;
}

/* Colores */
/* Ancho de Pagina */
.usuariosfinancieros-portada {
  height: 150px;
  width: 100%;
  max-width: 100%;
}
.usuariosfinancieros-portada img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.usuariosfinancieros {
  font-family: saenz-font;
  width: 100%;
  max-width: 100%;
}

.normas {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.usf-bcra-grid {
  display: grid;
  /* activo sistema de grillas */
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-items: center;
  max-width: 100%;
}

.usf-bcra-video {
  padding: 30px;
  justify-content: center;
  max-width: 100%;
  width: 100%;
}

/* Colores */
/* Ancho de Pagina */
.Tarjetas-Grilla {
  display: grid;
  /* activo sistema de grillas */
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto auto;
  max-width: 100%;
  font-family: saenz-font;
  padding-top: 10px;
  column-gap: 10px;
  row-gap: 10px;
  justify-items: stretch;
  align-items: center;
}

.item {
  background-color: #9ea2a2;
  border: 1px #9ea2a2 solid;
  height: 200px;
}
.item p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.item:hover {
  background-color: #898d8d;
}

/* Colores */
/* Ancho de Pagina */
.carrousel-container {
  width: 100%;
  max-width: 100%;
  color: white;
  font-family: saenz-font;
  display: flex;
}

.grilla-productos-bsz {
  max-width: 100%;
  padding: 10px;
  margin: 0px;
  background-color: #898d8d;
}

.grilla-canales-bsz {
  max-width: 100%;
  padding: 10px;
  margin: 0;
  background-color: #002f6c;
}

.grilla-canales-row-bsz {
  padding: 10px;
  margin: 0px;
}

.texto-container {
  color: black;
  max-width: 100%;
  font-family: saenz-font;
  display: flex;
}

.productos-container {
  color: white;
  width: 100%;
  max-width: 100%;
  font-family: saenz-font;
  display: flex;
}

.cumplimiento-container {
  color: white;
  padding: 15px;
  text-align: center;
  font-family: saenz-font;
  background-color: #00a3e0;
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
}

.contacto-container {
  color: white;
  padding: 15px;
  text-align: center;
  font-family: saenz-font;
  background-color: #002f6c;
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
}
.contacto-container a {
  color: white;
  text-decoration: none;
}

.comisiones-container {
  color: black;
  font-family: saenz-font;
  display: flex;
  width: 100%;
  max-width: 100%;
}

.link-container {
  color: black;
  text-align: center;
  font-family: saenz-font;
  display: flex;
  width: 100%;
  max-width: 100%;
  padding: 20px 0;
  justify-content: space-around;
}

.mae-container {
  color: black;
  width: 100%;
  max-width: 100%;
  font-family: saenz-font;
  display: flex;
}

/* Incorporo la fuente Gotham */
@font-face {
  font-family: saenz-font;
  src: url("../fuentes/Gotham-Font/GothamLight.ttf");
}
/* Fin incorporación fuente */

/*# sourceMappingURL=style.css.map */
