@import 'variables-globales';
.cuentas-portada {
    height: 150px;
    width: 100%;
    max-width: $ancho-maximo;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.cuentas {
    font-family: saenz-font;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $ancho-maximo;
    div {
        width: 50%;
        max-width: $ancho-maximo;
        padding: 10px;
    }
}