@import 'variables-globales';
.nosotros-portada {
    height: 150px;
    width: 100%;
    max-width: $ancho-maximo;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.nosotros {
    font-family: saenz-font;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: $ancho-maximo;
    row-gap: 10px;
    column-gap: 10px;
}